@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column.IsNull()) return;
@if (Column.BadgetsStyle.IsEmpty()) return;
@if (DataColumn.IsNull()) return;

<div class="d-flex gap-2 flex-wrap p-3 flex-column">

	@foreach (var item in Column.BadgetsStyle)
	{
		if (item.Key.IsGUID() == false)
		{
			<div style="cursor:pointer">
				<DnzBadgetAutoColor Value=@item.Key BadgetStyle=Column.BadgetsStyle Click=@(async (x) => await ApplyFilterAsync(item.Key)) />
			</div>
		}
	}
	<hr />

	<div class="d-flex gap-3 justify-content-center">
		<RadzenButton Text="Vacíos" Click=@(async () => await FilterEmptyAsync()) Size="ButtonSize.Small" />
		<RadzenButton Text="Rellenados" Click=@(async () => await FilterFilledAsync()) Size="ButtonSize.Small" />
	</div>
</div>

@code {

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	async Task ApplyFilterAsync(string searchValue)
	{
		DataColumn.FilterOperator = FilterOperator.Equals;
		await DataColumn.SetFilterValueAsync(searchValue);
		await DataColumn.CloseFilter();
	}

	async Task FilterEmptyAsync()
	{
		DataColumn.SetFilterOperator(FilterOperator.IsEmpty);
		await DataColumn.SetFilterValueAsync("a");
		await DataColumn.CloseFilter();
	}

	async Task FilterFilledAsync()
	{
		DataColumn.SetFilterOperator(FilterOperator.IsNotEmpty);
		await DataColumn.SetFilterValueAsync("a");
		await DataColumn.CloseFilter();
	}
}
