@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column.IsNull()) return;
@if (DataColumn.IsNull()) return;

<div class="d-flex gap-2 flex-wrap p-3 flex-column">
	<RadzenButton class="w-100" Text="Sí" Size="ButtonSize.Small" Click=@((x) => ApplyFilterAsync("1")) />
	<RadzenButton class="w-100" Text="No" Size="ButtonSize.Small" Click=@((x) => ApplyFilterAsync("0")) />
</div>

@code {

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	async Task ApplyFilterAsync(string v)
	{
		DataColumn.ClearFilters();
		await DataColumn.SetFilterValueAsync(v);
		await DataColumn.CloseFilter();
	}
}
