@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column.IsNull()) return;
@if (DataColumn.IsNull()) return;

<div class="p-4 d-flex flex-column">
	<RadzenTextBox @bind-Value=@searchText Placeholder="Buscar..." Style="width: 400px" class="mb-1" />
	<RadzenButton Text="Aplicar" Click=@(async () => await ApplyFilterAsync()) />
	<hr />

	<div class="d-flex gap-3 justify-content-center">
		<RadzenButton Text="Vacíos" Click=@(async () => await FilterEmptyAsync()) />
		<RadzenButton Text="Rellenados" Click=@(async () => await FilterFilledAsync()) />
	</div>
</div>

@code {

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	string searchText;

	async Task ApplyFilterAsync()
	{
		DataColumn.ClearFilters();
		DataColumn.SetFilterOperator(FilterOperator.Contains);
		await DataColumn.SetFilterValueAsync(searchText);
		await DataColumn.CloseFilter();
	}

	async Task FilterEmptyAsync()
	{
		DataColumn.ClearFilters();
		DataColumn.SetFilterOperator(FilterOperator.IsEmpty);
		await DataColumn.SetFilterValueAsync(string.Empty);
		await DataColumn.CloseFilter();
	}

	async Task FilterFilledAsync()
	{
		DataColumn.ClearFilters();
		DataColumn.SetFilterOperator(FilterOperator.IsNotEmpty);
		await DataColumn.SetFilterValueAsync(string.Empty);
		await DataColumn.CloseFilter();
	}
}
