@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column.IsNull()) return;
@if (DataColumn.IsNull()) return;

@if (Column.BadgetsStyle.IsNotEmpty())
{
	<BadgeFilterU Column=Column DataColumn=DataColumn />
}
else if (Column.Predefined_Values.IsNotEmpty())
{
	<PredefinedFilterU Column=Column DataColumn=DataColumn />
}
else
{
	@switch (Column.Format)
	{
		case FieldFormatE.INT:
			<IntegerFilterU Column=Column DataColumn=DataColumn />
			break;
		case FieldFormatE.DEC:
			<DecimalFilterU Column=Column DataColumn=DataColumn />
			break;
		case FieldFormatE.DateAndTime:
			<DateTimeFilterU Column=Column DataColumn=DataColumn />
			break;
		case FieldFormatE.DATE:
			<DateFilterU Column=Column DataColumn=DataColumn />
			break;
		case FieldFormatE.TIME:
			<TimeFilterU Column=Column DataColumn=DataColumn />
			break;
		case FieldFormatE.BOOL:
			<BoolFilterU Column=Column DataColumn=DataColumn />
			break;
		default:
			<TextFilterU Column=Column DataColumn=DataColumn />
			break;
	}
}

@if (DataColumn.GetFilterValue() != null)
{
	<div class="d-flex justify-content-end" style="padding-bottom:10px; padding-right:10px">
		<RadzenButton Text="Quitar filtro" Icon="search_off" Click=@Clear Size="ButtonSize.Small" Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" />
	</div>
}

@code {

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	async void Clear()
	{
		DataColumn.ClearFilters();
		await DataColumn.CloseFilter();
		await DataColumn.Grid.FirstPage(true);
	}
}
