@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column.IsNull()) return;
@if (DataColumn.IsNull()) return;

<div class="p-3">
	<RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Server">
		<Tabs>
			<RadzenTabsItem Text="Predefinido">
				<div class="d-flex gap-2 flex-wrap flex-column">
					<RadzenButton class="w-100" Text="Hoy" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("Hoy")) />
					<RadzenButton class="w-100" Text="Ayer" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("Ayer")) />
					<hr />
					<RadzenButton class="w-100" Text="Últimos 7 días" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("Ultimos7Dias")) />
					<RadzenButton class="w-100" Text="Últimos 30 días" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("Ultimos30Dias")) />
					<RadzenButton class="w-100" Text="Últimos 90 días" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("Ultimos90Dias")) />
					<hr />
					<RadzenButton class="w-100" Text="Mes Actual" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("MesActual")) />
					<RadzenButton class="w-100" Text="Mes Anterior" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("MesAnterior")) />
					<hr />
					<RadzenButton class="w-100" Text="Trimestre Actual" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("TrimestreActual")) />
					<RadzenButton class="w-100" Text="Trimestre Anterior" Size="ButtonSize.Small" Click=@(() => AplicarFiltroPredefinido("TrimestreAnterior")) />
				</div>
			</RadzenTabsItem>

			<RadzenTabsItem Text="Igual">
				<div class="d-flex gap-3 align-items-center">
					<b>Igual</b>
					<RadzenDatePicker Culture=@RegionService.Culture @bind-Value="Igual" Style="width: 200px" DateFormat=@RegionService.Culture.DateTimeFormat.ShortDatePattern ShowTime="false" />
				</div>
				<div class="d-flex justify-content-end" style="padding-top:10px; padding-right:10px">
					<RadzenButton Text="Aplicar" Icon="search" Click=@(() => SetFilterAsync("Igual")) Size="ButtonSize.Small" Variant="Variant.Text" />
				</div>
			</RadzenTabsItem>

			<RadzenTabsItem Text="Rango">
				<div class="d-flex gap-3 align-items-center">
					<b>Mayor que</b>
					<RadzenDatePicker @bind-Value="MinimoLocal" Style="width: 200px" DateFormat=@RegionService.Culture.DateTimeFormat.ShortDatePattern ShowTime="false" Culture=@RegionService.Culture />
				</div>
				<div class="d-flex gap-3 align-items-center">
					<b>Menor que</b>
					<RadzenDatePicker @bind-Value="MaximoLocal" Style="width: 200px" DateFormat=@RegionService.Culture.DateTimeFormat.ShortDatePattern ShowTime="false" Culture=@RegionService.Culture />
				</div>
				<div class="d-flex justify-content-end" style="padding-top:10px; padding-right:10px">
					<RadzenButton Text="Aplicar" Icon="search" Click=@(() => SetFilterAsync("Rango")) Size="ButtonSize.Small" Variant="Variant.Text" />
				</div>
			</RadzenTabsItem>
		</Tabs>
	</RadzenTabs>
</div>

@code {
	public DateTime MinimoLocal;
	public DateTime MaximoLocal;
	public DateTime Igual;

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	async Task AplicarFiltroPredefinido(string filtro)
	{
		DateTime FechLocal = RegionService.LocalNow().Date;

		switch (filtro)
		{
			case "Hoy":
				MinimoLocal = FechLocal;
				MaximoLocal = FechLocal.AddDays(1).AddSeconds(-1);
				break;
			case "Ayer":
				MinimoLocal = FechLocal.AddDays(-1);
				MaximoLocal = FechLocal.AddSeconds(-1);
				break;
			case "Ultimos7Dias":
				MinimoLocal = FechLocal.AddDays(-7);
				MaximoLocal = FechLocal.AddDays(1).AddSeconds(-1);
				break;
			case "Ultimos30Dias":
				MinimoLocal = FechLocal.AddDays(-30);
				MaximoLocal = FechLocal.AddDays(1).AddSeconds(-1);
				break;
			case "Ultimos90Dias":
				MinimoLocal = FechLocal.AddDays(-90);
				MaximoLocal = FechLocal.AddDays(1).AddSeconds(-1);
				break;
			case "MesActual":
				MinimoLocal = new DateTime(FechLocal.Year, FechLocal.Month, 1);
				MaximoLocal = FechLocal.AddDays(1).AddSeconds(-1);
				break;
			case "MesAnterior":
				var firstDayOfPreviousMonth = new DateTime(FechLocal.Year, FechLocal.Month, 1).AddMonths(-1);
				MinimoLocal = firstDayOfPreviousMonth;
				MaximoLocal = firstDayOfPreviousMonth.AddMonths(1).AddDays(-1);
				break;
			case "TrimestreActual":
				MinimoLocal = DateTime.Today.ComienzoDeTrimestre();
				MaximoLocal = MinimoLocal.FinDeTrimestre();
				break;
			case "TrimestreAnterior":
				MinimoLocal = DateTime.Today.ComienzoDeTrimestre().AddTRimestre(-1);
				MaximoLocal = MinimoLocal.FinDeTrimestre();
				break;
		}

		MinimoLocal = MinimoLocal.KindToLocal();
		MaximoLocal = MaximoLocal.KindToLocal();

		await SetFilterAsync("Rango");
	}

	async Task SetFilterAsync(string tipoFiltro)
	{
		if (tipoFiltro == "Rango" && MinimoLocal != default && MaximoLocal != default)
		{
			MinimoLocal = MinimoLocal.KindToLocal();
			MaximoLocal = MaximoLocal.KindToLocal();
			DataColumn.ClearFilters();

			DataColumn.SetFilterOperator(FilterOperator.GreaterThanOrEquals);
			DataColumn.SetSecondFilterOperator(FilterOperator.LessThanOrEquals);

			DataColumn.SetFilterValue(RegionService.ToUtc(MinimoLocal).ToSQL(), true);
			await DataColumn.SetFilterValueAsync(RegionService.ToUtc(MaximoLocal).ToSQL(), false);
		}
		else if (tipoFiltro == "Igual" && Igual != default)
		{
			DataColumn.ClearFilters();
			Igual = Igual.KindToLocal();
			DataColumn.SetFilterOperator(FilterOperator.GreaterThanOrEquals);
			DataColumn.SetSecondFilterOperator(FilterOperator.LessThanOrEquals);
			DataColumn.SetFilterValue(RegionService.ToUtc(Igual.Date).ToSQL(), true);
			await DataColumn.SetFilterValueAsync(RegionService.ToUtc(Igual.AddDays(1).AddSeconds(-1)).ToSQL(), false);
		}

		await DataColumn.CloseFilter();
	}
}
