@namespace DinaZen.Components.DinaupFlex.Reports.Filters

@if (Column == null || DataColumn == null) return;

<div class="d-flex flex-column p-4 gap-2">
	<RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Server">
		<Tabs>
			<RadzenTabsItem Text="Signo">
				<div class="d-flex flex-column gap-3">
					<BadgetAutoColor Value="Positivos" Click=@(() => ApplySignFilterAsync("Positivos")) />
					<BadgetAutoColor Value="Cero" Click=@(() => ApplySignFilterAsync("Cero")) />
					<BadgetAutoColor Value="Negativos" Click=@(() => ApplySignFilterAsync("Negativos")) />
				</div>
			</RadzenTabsItem>

			<RadzenTabsItem Text="Igual">
				<div class="d-flex gap-3 align-items-center">
					<b>Igual</b>
					<RadzenNumeric @bind-Value="exactValue" Style="width: 100px" />
					<RadzenButton Text="Aplicar" Click=@(() => ApplyFilterAsync("Equals")) />
				</div>
			</RadzenTabsItem>

			<RadzenTabsItem Text="Rango">
				<div class="d-flex gap-3 align-items-center">
					<b>Mayor qué</b>
					<RadzenNumeric @bind-Value="minValue" Style="width: 100px" />
				</div>
				<div class="d-flex gap-3 align-items-center">
					<b>Menor qué</b>
					<RadzenNumeric @bind-Value="maxValue" Style="width: 100px" />
					<RadzenButton Text="Aplicar" Click=@(() => ApplyFilterAsync("Range")) />
				</div>
			</RadzenTabsItem>
		</Tabs>
	</RadzenTabs>
</div>

@code {
	int exactValue;
	int minValue;
	int maxValue;

	[Parameter]
	public DinaupFieldDTO Column { get; set; }
	[Parameter]
	public RadzenDataGridColumn<DinaupDynamicRowDTO> DataColumn { get; set; }

	async Task ApplySignFilterAsync(string sign)
	{
		switch (sign)
		{
			case "Positivos":
				DataColumn.ClearFilters();
				DataColumn.SetFilterOperator(FilterOperator.GreaterThan);
				await DataColumn.SetFilterValueAsync(0);
				await DataColumn.CloseFilter();
				break;
			case "Negativos":
				DataColumn.ClearFilters();
				DataColumn.SetFilterOperator(FilterOperator.LessThan);
				await DataColumn.SetFilterValueAsync(0);
				await DataColumn.CloseFilter();
				break;
			case "Cero":
				DataColumn.ClearFilters();
				DataColumn.SetFilterOperator(FilterOperator.Equals);
				await DataColumn.SetFilterValueAsync(0);
				await DataColumn.CloseFilter();
				break;
		}
	}

	async Task ApplyFilterAsync(string filterType)
	{
		if (filterType == "Range" && minValue != default && maxValue != default)
		{
			DataColumn.ClearFilters();
			DataColumn.SetFilterOperator(FilterOperator.GreaterThanOrEquals);
			DataColumn.SetSecondFilterOperator(FilterOperator.LessThanOrEquals);
			DataColumn.SetFilterValue(minValue);
			await DataColumn.SetFilterValueAsync(maxValue, false);
			await DataColumn.CloseFilter();
		}
		else if (filterType == "Equals" && exactValue != default)
		{
			DataColumn.ClearFilters();
			DataColumn.SetFilterOperator(FilterOperator.Equals);
			await DataColumn.SetFilterValueAsync(exactValue);
			await DataColumn.CloseFilter();
		}
	}
}
