@page "/examples/AnimationExample"

<PageTitle>Animation</PageTitle>

<h1 class="rz-mb-2">Animation (Lottie Player)</h1>
<p class="rz-text-secondary-color rz-mb-4">Use dotLottie player directly for .lottie and .json animations.</p>



<div class="rz-mt-4">
    <Banner Style="Banner.BannerStyle.Primary"
            Icon="movie"
            Title="Find Free Animations"
            ButtonText="Browse LottieFiles"
            ButtonUrl="https://lottiefiles.com/free-animations">
        <p>Explore thousands of free Lottie animations ready to use in your projects.</p>
    </Banner>
</div>



<ExampleCard Title="Basic Usage" Description="dotLottie player with default settings" Code="@(@"<dotlottie-player
    src=""https://dinaupcdn.com/scan_document.lottie""
    background=""transparent""
    speed=""1""
    style=""width: 150px; height: 150px;""
    loop
    autoplay>
</dotlottie-player>")">
    <ChildContent>
        <dotlottie-player
            src="https://dinaupcdn.com/scan_document.lottie"
            background="transparent"
            speed="1"
            style="width: 150px; height: 150px;"
            loop
            autoplay>
        </dotlottie-player>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Custom Size" Description="Different dimensions" Code="@(@"<dotlottie-player
    src=""https://dinaupcdn.com/scan_document.lottie""
    style=""width: 200px; height: 200px;""
    loop
    autoplay>
</dotlottie-player>")">
    <ChildContent>
        <dotlottie-player src="https://dinaupcdn.com/scan_document.lottie"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px;"
            loop
            autoplay>
        </dotlottie-player>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Without Loop" Description="Animation plays once" Code="@(@"<dotlottie-player
    src=""https://dinaupcdn.com/scan_document.lottie""
    style=""width: 150px; height: 150px;""
    autoplay>  @* No loop attribute *@
</dotlottie-player>")">
    <ChildContent>
        <dotlottie-player src="https://dinaupcdn.com/scan_document.lottie"
            background="transparent"
            speed="1"
            style="width: 150px; height: 150px;"
            autoplay>
        </dotlottie-player>
        <p class="rz-text-secondary-color rz-mt-2" style="font-size: 0.875rem;">Refresh the page to see the animation again</p>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Hover Mode" Description="Plays on mouse hover" Code="@(@"<dotlottie-player
    src=""https://dinaupcdn.com/scan_document.lottie""
    style=""width: 150px; height: 150px;""
    loop
    hover>  @* hover instead of autoplay *@
</dotlottie-player>")">
    <ChildContent>
        <dotlottie-player src="https://dinaupcdn.com/scan_document.lottie"
            background="transparent"
            speed="1"
            style="width: 150px; height: 150px; cursor: pointer;"
            loop
            hover>
        </dotlottie-player>
        <p class="rz-text-secondary-color rz-mt-2" style="font-size: 0.875rem;">Hover over the animation</p>
    </ChildContent>
</ExampleCard>


<RadzenCard class="rz-mt-4">
    <CardTitle Title="Attributes" Icon="tune" />
    <table class="params-table">
        <tr><th>Attribute</th><th>Type</th><th>Description</th></tr>
        <tr><td><code>src</code></td><td>string</td><td>URL to .lottie or .json animation file</td></tr>
        <tr><td><code>background</code></td><td>string</td><td>Background color (e.g., "transparent", "#fff")</td></tr>
        <tr><td><code>speed</code></td><td>number</td><td>Playback speed (1 = normal, 2 = 2x, 0.5 = half)</td></tr>
        <tr><td><code>style</code></td><td>string</td><td>CSS styles (width, height, etc.)</td></tr>
        <tr><td><code>loop</code></td><td>boolean</td><td>Loop the animation (attribute presence = true)</td></tr>
        <tr><td><code>autoplay</code></td><td>boolean</td><td>Auto-start animation</td></tr>
        <tr><td><code>hover</code></td><td>boolean</td><td>Play on hover</td></tr>
        <tr><td><code>direction</code></td><td>1 | -1</td><td>Playback direction (1 = forward, -1 = reverse)</td></tr>
        <tr><td><code>mode</code></td><td>string</td><td>"normal" | "bounce"</td></tr>
    </table>

</RadzenCard>


@code {
    string scriptCode = @"<script type=""module"" src=""/_content/DinaZen/dotlottie-player.mjs""></script>";
}
