@page "/examples/AnimationExample"

<PageTitle>Animation</PageTitle>

<RadzenCard class="rz-mb-4">
    <CardTitle Title="Animation" Subtitle="dotLottie (.lottie) animation player." Icon="play_circle" />
</RadzenCard>

<ExampleCard Title="dotLottie" Description="Compressed format via dotlottie-player" Code="@(@"<Animation Src=""https://dinaupcdn.com/scan_document.lottie"" />")">
    <ChildContent>
        <Animation Src="https://dinaupcdn.com/scan_document.lottie" Width="150" Height="150" />
    </ChildContent>
</ExampleCard>

<ExampleCard Title="With Custom Size" Description="Specify dimensions in pixels" Code="@(@"<Animation Src=""https://dinaupcdn.com/scan_document.lottie"" Width=""200"" Height=""200"" />")">
    <ChildContent>
        <Animation Src="https://dinaupcdn.com/scan_document.lottie" Width="200" Height="200" />
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parameters" Icon="tune" />
    <table class="params-table">
        <tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr>
        <tr><td><code>Src</code></td><td>string</td><td>""</td><td>.lottie file URL</td></tr>
        <tr><td><code>Width</code></td><td>int?</td><td>null</td><td>Width in pixels</td></tr>
        <tr><td><code>Height</code></td><td>int?</td><td>null</td><td>Height in pixels</td></tr>
        <tr><td><code>Loop</code></td><td>bool</td><td>true</td><td>Repeat animation</td></tr>
        <tr><td><code>Autoplay</code></td><td>bool</td><td>true</td><td>Play automatically</td></tr>
    </table>
</RadzenCard>
