@page "/examples/CardTitleExample"

<PageTitle>CardTitle</PageTitle>

<RadzenCard class="rz-mb-4">
    <CardTitle Title="CardTitle" Subtitle="Section header with icon, Beta badge and collapsible help." Icon="title" />
</RadzenCard>

<ExampleCard Title="Basic" Description="Title with icon" Code="@(@"<CardTitle Title=""Configuracion General"" Icon=""settings"" />")">
    <ChildContent>
        <RadzenCard Variant="Variant.Outlined">
            <CardTitle Title="Configuracion General" Icon="settings" />
            <p>Contenido de la seccion...</p>
        </RadzenCard>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="With Beta Badge" Description="Mark sections in development" Code="@(@"<CardTitle Title=""Integraciones"" Icon=""extension"" Beta=""true"" />")">
    <ChildContent>
        <RadzenCard Variant="Variant.Outlined">
            <CardTitle Title="Integraciones" Icon="extension" Beta="true" />
            <p>Seccion marcada como Beta.</p>
        </RadzenCard>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="With Collapsible Help" Description="Display expandable help content" Code="@(@"<CardTitle Title=""Usuarios y Permisos"" Icon=""people"">
    <HelpContent>
        <p>Esta seccion permite gestionar usuarios, roles y permisos de acceso.</p>
    </HelpContent>
</CardTitle>")">
    <ChildContent>
        <RadzenCard Variant="Variant.Outlined">
            <CardTitle Title="Usuarios y Permisos" Icon="people">
                <HelpContent>
                    <p>Esta seccion permite gestionar usuarios, roles y permisos de acceso.</p>
                </HelpContent>
            </CardTitle>
            <p>Haz clic en el icono de info para ver la ayuda.</p>
        </RadzenCard>
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parameters" Icon="tune" />
    <table class="params-table">
        <tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr>
        <tr><td><code>Title</code></td><td>string</td><td>null</td><td>Section title</td></tr>
        <tr><td><code>Icon</code></td><td>string</td><td>null</td><td>Radzen icon or image URL</td></tr>
        <tr><td><code>IconStyle</code></td><td>IconStyle</td><td>-</td><td>Icon style</td></tr>
        <tr><td><code>Beta</code></td><td>bool</td><td>false</td><td>Show "Beta" badge</td></tr>
        <tr><td><code>HelpContent</code></td><td>RenderFragment</td><td>null</td><td>Collapsible help content</td></tr>
        <tr><td><code>HelpLink</code></td><td>string</td><td>null</td><td>External documentation URL</td></tr>
    </table>
</RadzenCard>

