@page "/examples/PulseDotAnimationExample"

<PageTitle>PulseDotAnimation</PageTitle>

<h1 class="rz-mb-2">PulseDotAnimation</h1>
<p class="rz-text-secondary-color rz-mb-4">Animated dot with pulse to indicate real-time status.</p>

<ExampleCard Title="Colors" Description="Different states represented by colors" Code="@(@"<PulseDotAnimation Color=""PulseDotAnimation.PulseColor.Green"" />
<PulseDotAnimation Color=""PulseDotAnimation.PulseColor.Yellow"" />
<PulseDotAnimation Color=""PulseDotAnimation.PulseColor.Red"" />
<PulseDotAnimation Color=""PulseDotAnimation.PulseColor.Gray"" />")">
    <ChildContent>
        <div class="examples-grid">
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" />
                <span>Green - User Online</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Yellow" />
                <span>Yellow - Server Busy</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Red" />
                <span>Red - Service Down</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Gray" />
                <span>Gray - Unknown Status</span>
            </div>
        </div>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Without Pulse" Description="Disable pulse animation" Code="@(@"<PulseDotAnimation Color=""PulseDotAnimation.PulseColor.Green"" Pulse=""false"" />")">
    <ChildContent>
        <div class="examples-grid">
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Pulse="false" />
                <span>Without animation</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Pulse="true" />
                <span>With animation (default)</span>
            </div>
        </div>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Sizes" Description="Different sizes in pixels" Code="@(@"<PulseDotAnimation Color=""..."" Size=""8"" />
<PulseDotAnimation Color=""..."" Size=""14"" /> @* Default *@
<PulseDotAnimation Color=""..."" Size=""20"" />")">
    <ChildContent>
        <div class="examples-grid">
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Size="8" />
                <span>Size 8px</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Size="14" />
                <span>Size 14px (default)</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Size="20" />
                <span>Size 20px</span>
            </div>
            <div class="example-row">
                <PulseDotAnimation Color="PulseDotAnimation.PulseColor.Green" Size="30" />
                <span>Size 30px</span>
            </div>
        </div>
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parameters" Icon="tune" />
    <table class="params-table">
        <tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr>
        <tr><td><code>Color</code></td><td>PulseColor</td><td>-</td><td><b>Required.</b> Dot color</td></tr>
        <tr><td><code>Pulse</code></td><td>bool</td><td>true</td><td>Enable/disable pulse animation</td></tr>
        <tr><td><code>Size</code></td><td>int</td><td>14</td><td>Dot size in pixels</td></tr>
        <tr><td><code>RingPadding</code></td><td>int</td><td>6</td><td>Pulse ring padding</td></tr>
        <tr><td><code>RingThickness</code></td><td>int</td><td>2</td><td>Pulse ring thickness</td></tr>
        <tr><td><code>Title</code></td><td>string</td><td>null</td><td>Tooltip on hover</td></tr>
    </table>

    <CardTitle Title="PulseColor Enum" Icon="palette" Subtitle="Available colors" />
    <table class="params-table">
        <tr><th>Value</th><th>Hex</th><th>Typical Use</th></tr>
        <tr><td><code>Green</code></td><td>#62bd19</td><td>Online, Active, OK</td></tr>
        <tr><td><code>Yellow</code></td><td>#FFD700</td><td>Busy, Processing, Warning</td></tr>
        <tr><td><code>Red</code></td><td>#FF0000</td><td>Offline, Error, Critical</td></tr>
        <tr><td><code>Gray</code></td><td>#333333</td><td>Inactive, Unknown</td></tr>
    </table>
</RadzenCard>
