@using DinaZen.Forms.Components.Tab
@if (Tab.TabName == "*")
{
	@if (Tab.ParentForm.MainTextGenerateOnSave == false)
	{
		<RadzenTextBox Placeholder="Título" Disabled=Tab.Controls.First().IsLocked Change=@(args => HandleControlChanged(Tab.Controls.First().WithValue(args)))
					   @key=@(Tab.ParentForm.Token + Tab.Controls.First().Token + "-valor") Style="font-size:22px; width:90%;" Value=@Tab.Controls.First().Value class="w-100  obli" />
	}

}
else
{

	<div class="dnp-form-tab" @key=@(Tab.TabToken + "-1742963288") style=@($"min-width:{Tab.Width.ToString()}px;height:{(Tab.Height + 10).ToString()}px; position:relative")>

		@foreach (var control in Tab.Containers.Values)
		{
			<ContainerU @key=@control.Token FormComponent=FormComponent OnButtonClick=HandleButtonClick OnMostrarDialogRequiereGuardar=HandleRequiereGuardar Container=control OnDeleteItemPrimaryList=HandleOnDeleteItemPrimaryList OnTabChanged=HandleTabChanged OnAddItem=HandleNewItemList />
		}

		@foreach (var currentControl in Tab.Controls ?? new())
		{
			<ControlU @key=@currentControl.Token OnDataControlChanged=HandleControlChanged DataControl=currentControl />
		}

		@foreach (var currentButtom in Tab.Buttons ?? new())
		{
			<ButtonU @key=@currentButtom.Key OnMostrarDialogRequiereGuardar=HandleRequiereGuardar OnButtonClick=HandleButtonClick ButtonData=currentButtom.Value />
		}

	</div>


}


@code {

	[Parameter] public Dinaup.VirtualFormDTO.Tab Tab { get; set; }
	[Parameter] public EventCallback<Dinaup.VirtualFormDTO.Tab> OnTabChanged { get; set; }
	[Parameter] public EventCallback<string> OnDeleteItemPrimaryList { get; set; }
	[Parameter] public EventCallback<string> OnButtonClick { get; set; }
	[Parameter] public EventCallback<string> OnMostrarDialogRequiereGuardar { get; set; }

	[Parameter] public DynamicFormU FormComponent { get; set; }



	public void Dispose()
	{

		if (true)
		{
			FormComponent = null;
			Tab = null;
		}
	}




	DateTime _OnInitialized = DateTime.Now;
	protected override void OnInitialized()
	{

		_OnInitialized = DateTime.Now;
		base.OnInitialized();
	}

	protected override Task OnInitializedAsync()
	{
		return base.OnInitializedAsync();
	}

	private Task HandleRequiereGuardar(string mensaje)
	{
		return OnMostrarDialogRequiereGuardar.InvokeAsync(mensaje);
	}

	private Task HandleButtonClick(string idOToken)
	{
		return OnButtonClick.InvokeAsync(idOToken);
	}

	private Task HandleOnDeleteItemPrimaryList(string deleteId)
	{
		return OnDeleteItemPrimaryList.InvokeAsync(deleteId);
	}


	private Task HandleControlChanged(Dinaup.VirtualFormDTO.Control updatedControl)
	{
		return OnTabChanged.InvokeAsync(Tab.WithUpdatedControl(updatedControl));
	}

	private Task HandleTabChanged(Dinaup.VirtualFormDTO.Tab updateTab)
	{
		return OnTabChanged.InvokeAsync(updateTab);
	}

	[Parameter] public EventCallback OnAddItem { get; set; }



	async Task HandleNewItemList()
	{
		await OnAddItem.InvokeAsync();

	}
}
