@using System.Net.Http
@using System.IO
@using System.Text.Json
@using Microsoft.AspNetCore.Components
@inject HttpClient Http




<ErrorBoundary>
@if (IsUsserBubble && FileId.IsNotEmpty())
{

	<div class="d-flex align-items-center gap-1 item" style="width: fit-content;" title=@(UserName ?? "")>
		<div style="width:40px; height:40px">
			@if (FileId.IsGUID())
			{

				<ImagenU Clickable=false ArchivoID=@FileId Width="40" Style="height:40px;border-radius:100%;border: 1px solid gray;" />
			}
			else
			{
				<div style="background-image: url('@FileId'); background-size: cover; background-position: center;height:40px;border-radius:100%;border: 1px solid gray;  @Style" class="@Class">
				</div>
			}
		</div>
	</div>
}
else if (IsUsserBubble)
{
	<playdinaupcom.Components.SinAvatarU Data=@(UserName ?? "") Style="border: 1px solid gray;" />
}
else if (ModoBackground)
{
	<div style="background-image: url('@ImageUrl'); background-size: cover; background-position: center; @Style" class="@Class">
	</div>
}
else if (Clickable)
{
	<a href=@ImageUrlGrande target="_blank">
		<img src=@ImageUrl width=@Width style=@Style class=@Class />
	</a>
}
else
{
	<img src=@ImageUrl width=@Width style=@Style class=@Class />
}

</ErrorBoundary>

@code {


	[Parameter]
	public bool IsUsserBubble { get; set; } = false;

	[Parameter]
	public string UserName { get; set; } = "";


	[Parameter]
	public bool ModoBackground { get; set; } = false;


	[Parameter]
	public bool Publica { get; set; } = false;

	[Parameter]
	public bool Clickable { get; set; } = false;


	[Parameter]
	public string Style { get; set; } = "";

	[Parameter]
	public string Class { get; set; } = "";

	[Parameter]
	public Boolean EstaticoDinaupCom { get; set; } = false;


	[Parameter]
	public int Width { get; set; } = 300;

	[Parameter]
	public string FileId { get; set; }

	public bool isLoading { get; set; }

	public string ImageUrl { get; set; }
	public string ImageUrlGrande { get; set; }



	protected override async Task OnInitializedAsync()
	{
		try
		{
			isLoading = true;


			if (FileId.IsEmpty())
			{
				
			}else if (EstaticoDinaupCom)
			{
				// Define la carpeta de caché. En este ejemplo se guarda en wwwroot/cache
				var cacheFolder = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "cache");
				if (Directory.Exists(cacheFolder) == false)
					Directory.CreateDirectory(cacheFolder);

				// Usa ArchivoID para formar el nombre del archivo (por ejemplo, ArchivoID.png)
				var cacheFilePath = Path.Combine(cacheFolder, FileId + ".png");

				if (File.Exists(cacheFilePath))
				{
					// Si el archivo ya existe, lo lee y lo carga en ImageUrl
					var imageBytes = await File.ReadAllBytesAsync(cacheFilePath);
					ImageUrl = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
					ImageUrlGrande = ImageUrl; // Opcional: asigna la misma imagen para la versión grande
				}
				else
				{
					// Si no existe, lo descarga, lo guarda en disco y luego asigna ImageUrl
					await FetchAndCacheImage(cacheFilePath);
					ImageUrlGrande = ImageUrl;
				}
			}
			else
			{
				// Lógica existente para cuando no se usa el caché en disco
				var URL = await SessionUserContext.DinaupClient.File_SignURLGetAsync(FileId);
				if (URL.IsNotNull())
				{
					ImageUrl = URL.url_720;
					ImageUrlGrande = URL.url_original;
					if (ImageUrl.IsEmpty())
					{
						ImageUrl = ImageUrlGrande;
					}
				}
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error loading image: {ex.Message}");
		}
		finally
		{
			isLoading = false;
		}

		await base.OnInitializedAsync();
	}


	private async Task FetchAndCacheImage(string cacheFilePath)
	{
		var correlationId = Guid.NewGuid().STR();
		var URL = await SessionUserContext.DinaupClient.File_SignURLGetAsync(FileId);

		var response = await Http.GetAsync(URL.url_300);
		if (response.IsSuccessStatusCode)
		{
			var imageBytes = await response.Content.ReadAsByteArrayAsync();
			await File.WriteAllBytesAsync(cacheFilePath, imageBytes);
			ImageUrl = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
		}
		else
		{
			response = await Http.GetAsync(URL.url_original);
			if (response.IsSuccessStatusCode)
			{
				var imageBytes = await response.Content.ReadAsByteArrayAsync();
				await File.WriteAllBytesAsync(cacheFilePath, imageBytes);
				ImageUrl = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
			}

		}

	}
}
