@using DemoUp.MyDinaup
@using static DemoUp.MyDinaup.Reports.FuncionalidadD
@typeparam T where T : IDinaupRow


@if (TextProperty.IsEmpty())
{
	<b style="color:red">Se requiere TextProperty</b>
	return;

}
 
 

<RadzenFormField Visible=@Visible Text=@Etiqueta Variant="Variant.Flat" class=@(" dropdownup dropdown-menu-component" + (Pequeno ? "-min" : "") + ((Obligatorio && Selected.IsNull()) ? " obli" : "") + " " + (Disabled ? " dropdown-menu-component-disabled" : "") + " ") Style=@Style>
	<Start>
		@if (CompatibleIcono  && Selected.IsNotNull())
		{
			<ImagenU ArchivoID=@GetIconoURL(Selected) Width="24" @key=@Selected /> 
		}else if (Icon.IsNotEmpty())
		{
			<RadzenIcon Icon=@Icon ></RadzenIcon>
		}
	</Start>
	<ChildContent>
	@* <div class="d-flex align-items-center justify-content-between" style="padding-right:10px;width:100%"> *@


		@if (Columns.IsNotNull() && ValueTemplate.IsNotNull())
		{
			<RadzenDropDownDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"   Disabled=@Disabled  ShowSearch=@TextProperty.IsNotEmpty() TextProperty=@TextProperty ColumnWidth=@ColumnWidth ValueTemplate=@ValueTemplate @bind-Value=@Selected Columns=@Columns TValue="T" Data=@Data Name="x" Style=@("cursor:pointer;flex:1;border:none;" + (_selectedID.IsNotEmpty() == false ? "color:#7F7F7F" : ""))>
			</RadzenDropDownDataGrid>

		}
		else if (Columns.IsNotNull())
		{
			<RadzenDropDownDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  Disabled=@Disabled ShowSearch=@TextProperty.IsNotEmpty() TextProperty=@TextProperty ColumnWidth=@ColumnWidth Columns=@Columns @bind-Value=@Selected TValue="T" Data=@Data Name="x" Style=@("cursor:pointer;flex:1;border:none;" + (_selectedID.IsNotEmpty() == false ? "color:#7F7F7F" : ""))>
			</RadzenDropDownDataGrid>
		}
		else if (ValueTemplate.IsNotNull())
		{
			<RadzenDropDownDataGrid  FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Disabled=@Disabled ShowSearch=@TextProperty.IsNotEmpty() TextProperty=@TextProperty ColumnWidth=@ColumnWidth ValueTemplate=@ValueTemplate @bind-Value=@Selected TValue="T" Data=@Data Name="x" Style=@("cursor:pointer;flex:1;border:none;" + (_selectedID.IsNotEmpty() == false ? "color:#7F7F7F" : ""))>
			</RadzenDropDownDataGrid>


		}
		else
		{

			<RadzenDropDownDataGrid Disabled=@Disabled FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" PageSize="10" ShowSearch=@TextProperty.IsNotEmpty() TextProperty=@TextProperty ColumnWidth=@ColumnWidth @bind-Value=@Selected
									TValue="T" Data=@Data Name="x" Style=@("cursor:pointer;flex:1;border:none;" + (_selectedID.IsNotEmpty() == false ? "color:#7F7F7F" : ""))>
				<Columns>
					<RadzenDropDownDataGridColumn Title=@Etiqueta Width="100px">
						<Template>
							<div class="d-flex gap-1 align-content-center align-items-center">
								
								@if (CompatibleIcono)
								{
									<ImagenU ArchivoID=@GetIconoURL(context) Width="24" /> 
								}
								@if (Compatiblecolor == false)
								{
									@((context as IDinaupRow).Label)
								}
								else
								{
									<BadgetAutoColor Color="@GetColor(context)" Value=@((context as IDinaupRow).Label) />
								}
							</div>
						</Template>
					</RadzenDropDownDataGridColumn>
				</Columns>
				<ValueTemplate>
					<div class="d-flex gap-1 align-content-center align-items-center">
					

						@if (Compatiblecolor == false)
						{
							@((context as IDinaupRow).Label)
						}
						else
						{
							<BadgetAutoColor Color="@GetColor(context)" Value=@((context as IDinaupRow).Label) />
						}
					</div>
				</ValueTemplate>
			</RadzenDropDownDataGrid>

		}
 



	

	</ChildContent>
	<End>

		@if (Disabled)
		{

		}
		else if (Selected != null)
		{
			<div class="d-flex flex-column gap-1 align-items-end justify-content-center h-100">
				<RadzenIcon Icon="close" IconColor="#8D0909" Style="font-size:13px; cursor: pointer" onclick=@(() => OnRemoveClick()) />
				<RadzenIcon Icon="open_in_new" IconColor="#002C92" Style="font-size:13px; cursor: pointer" onclick=@(() => OnOpenClick()) />
			</div>
		}
		else
		{

			@if (OnAdd.HasDelegate)
			{
				<RadzenButton Icon="add" Style="font-size:13px;" ButtonStyle=" ButtonStyle.Success" Size="ButtonSize.ExtraSmall" Variant="Variant.Text" Click=@OnAddClick />
			}
		}

	</End>
</RadzenFormField>

@code {



	[Parameter]
	public string Icon { get; set; }

	[Parameter]
	public bool VisualObligatorio { get; set; }



	private  string GetIconoURL(dynamic context)
	{
		if (IconoProperty.IsNotEmpty() && IconoPropertyProp.IsNotNull())
		{
			var cp = IconoPropertyProp.GetValue(context, null);

			if (cp is Guid guidValue && guidValue != Guid.Empty)
			{
				return guidValue.ToString();
			}
		}

		return "";
	}



	private EnumEstilosTextoEE GetColor(dynamic context)
	{


		try
		{

			if (ColorProperty.IsNotEmpty() && ColorPropertyProp.IsNotNull())
			{
				var cp = ColorPropertyProp.GetValue(context, null) as string;
				if (cp.IsNotNull())
				{
					if (Enum.TryParse(typeof(EnumEstilosTextoEE), cp, out var parsedColor))
						return (EnumEstilosTextoEE)parsedColor;
				}

			}


			if (context is APIEstadosDeVentasC.APIEstadosDeVentas_RowC)
				return (EnumEstilosTextoEE)(context as APIEstadosDeVentasC.APIEstadosDeVentas_RowC).Color;
			else if (context is APIEstadosDeComprasGastosC.APIEstadosDeComprasGastos_RowC)
				return (EnumEstilosTextoEE)(context as APIEstadosDeComprasGastosC.APIEstadosDeComprasGastos_RowC).Color;
			else if (context is APITiposDeComprasGastosC.APITiposDeComprasGastos_RowC)
				return (EnumEstilosTextoEE)(context as APITiposDeComprasGastosC.APITiposDeComprasGastos_RowC).Color;
			else if (context is APITiposDeVentasC.APITiposDeVentas_RowC)
				return (EnumEstilosTextoEE)(context as APITiposDeVentasC.APITiposDeVentas_RowC).Color;


		}
		catch (Exception  )
		{

		}

		return EnumEstilosTextoEE.Indefinido;
	}


	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();


		try
		{
			if (ColorProperty.IsNotEmpty())
				ColorPropertyProp = typeof(T).GetProperty(ColorProperty);
			else
				ColorPropertyProp = null;

		}
		catch (Exception)
		{

			ColorPropertyProp = null;
		}



		try
		{
			if (IconoProperty.IsNotEmpty())
			{
				IconoPropertyProp = typeof(T).GetProperty(IconoProperty);
				CompatibleIcono = true;
			}
			else
				IconoPropertyProp = null;

		}
		catch (Exception)
		{
			
			IconoPropertyProp = null;
		}














		
		if (Data.IsEmpty())
		{
			Compatiblecolor = false;

		}
		else
		{

			var item = Data.FirstOrDefault();

			if (item.IsNull())
				Compatiblecolor = false;
			else if (item is APIEstadosDeVentasC.APIEstadosDeVentas_RowC)
				Compatiblecolor = true;
			else if (item is APIEstadosDeComprasGastosC.APIEstadosDeComprasGastos_RowC)
				Compatiblecolor = true;
			else if (item is APITiposDeComprasGastosC.APITiposDeComprasGastos_RowC)
				Compatiblecolor = true;
			else if (item is APITiposDeVentasC.APITiposDeVentas_RowC)
				Compatiblecolor = true;
			else if (item is APISeguimientoDeClientesC.APISeguimientoDeClientes_RowC)
				Compatiblecolor = true;
			else if (item is APITiposDeSeguimientosDeClientesC.APITiposDeSeguimientosDeClientes_RowC)
				Compatiblecolor = true;
			else
				Compatiblecolor = false;
		}
	}



	private bool Compatiblecolor { get; set; }
	private bool CompatibleIcono { get; set; }

	[Parameter]
	public bool Obligatorio { get; set; }


	[Parameter]
	public string TextProperty { get; set; }

	[Parameter]
	public string ColorProperty { get; set; }
	[Parameter]
	public string IconoProperty { get; set; }

	public System.Reflection.PropertyInfo ColorPropertyProp { get; set; }
	public System.Reflection.PropertyInfo IconoPropertyProp { get; set; }


	[Parameter]
	public string Style { get; set; }

	[Parameter]
	public bool Pequeno { get; set; }
	[Parameter]
	public bool Visible { get; set; } = true;


	private string selectStyle;
	private Guid _selectedID;


	[Parameter]
	public string Etiqueta { get; set; }

	[Parameter]
	public bool Disabled { get; set; }

	[Parameter]
	public IEnumerable<T>
	Data
	{ get; set; } = new List<T>
		();



	private T _selected;
	[Parameter]
	public T Selected
	{
		get => _selected;
		set
		{
			if (!EqualityComparer<T>
				.Default.Equals(_selected, value))
			{
				_selected = value;


				if (value.IsNull())
					_selectedID = Guid.Empty;
				else if (value.Id != _selectedID)
					_selectedID = value.Id;

				if (SelectedChanged.HasDelegate)
					SelectedChanged.InvokeAsync(value);

			}
		}
	}

	[Parameter]
	public EventCallback<T>
		SelectedChanged
	{ get; set; }

	[Parameter]
	public EventCallback OnAdd { get; set; }

	[Parameter]
	public EventCallback<T>
		OnRemove
	{ get; set; }

	[Parameter]
	public EventCallback<T>
		OnOpen
	{ get; set; }

	private async Task OnAddClick()
	{
		if (OnAdd.HasDelegate)
			await OnAdd.InvokeAsync(Selected);
	}

	private async Task OnRemoveClick()
	{
		if (OnRemove.HasDelegate)
			await OnRemove.InvokeAsync(Selected);
		else
			Selected = default(T);

	}

	private async Task OnOpenClick()
	{

		if (OnOpen.HasDelegate)
			await OnOpen.InvokeAsync(Selected);
		else
			UpDialogs.OpenModalForm(Selected);

	}






	[Parameter]
	public RenderFragment Columns { get; set; }
	[Parameter]
	public RenderFragment<dynamic> 	ValueTemplate 	{ get; set; }



	[Parameter]
	public string ColumnWidth { get; set; } = "";
}
