@namespace DinaZen.Components.DinaupFlex.Annotations

<RadzenCard class="d-flex flex-column px-3 py-2">
	<div class="d-flex justify-content-between my-2">
		<span class="rz-text-caption" style="font-weight: bold">@Anotation.Autor.Name : </span>
		<span class="rz-text-overline">  @Anotation.AnnotationDate.ToString("g")  </span>
	</div>

	@if (Anotation.Text.IsNotEmpty())
	{
		<div>
			@Anotation.Text
		</div>
	}


	@if (Anotation.AttachedFiles.IsNotEmpty())
	{
		@foreach (var item in Anotation.AttachedFiles)
		{
			<FileName FileNameDisplay=@item.Name FileSize=@item.SizeInBytes DownloadURL=@item.url_original />
		}
	}

</RadzenCard>

@code {

	[Parameter]
	public Dinaup.DinaupAnnotationDTO Anotation { get; set; }

}
