@using Microsoft.AspNetCore.Components
@implements IDisposable

<div class=@("dnz-search-input d-flex align-items-center gap-1 px-2 py-1 " + Class) style=@Style>
	<RadzenIcon Icon="search" Style="font-size:18px; color:var(--rz-text-secondary-color)" />
	<input type="text" placeholder=@Placeholder @oninput="OnInput" class="dnz-search-input__field" />
</div>

@code {

	[Parameter]
	public string Value { get; set; }

	[Parameter]
	public string Placeholder { get; set; } = "Buscar...";

	[Parameter]
	public string Class { get; set; } = "";

	[Parameter]
	public string Style { get; set; } = "";

	[Parameter]
	public EventCallback<string> BounceValueChanged { get; set; }


	private Dinaup.Debouncer debouncer;
	protected override Task OnInitializedAsync()
	{
		debouncer = new(triggerDebounceChanged, 500);
		return base.OnInitializedAsync();
	}


	private async Task triggerDebounceChanged()
	{
		await BounceValueChanged.InvokeAsync(Value);
	}
	private void OnInput(ChangeEventArgs e)
	{
		Value = e.Value?.ToString();
		debouncer.Debounce();
	}


	void IDisposable.Dispose()
	{
		debouncer?.Dispose();
		debouncer= null;
	}


}
