
.loaderu {
    width: 80px;
    height: 80px;
}

    .loaderu hr {
        border: 0;
        margin: 0;
        width: 30px !important;
        height: 30px !important;
        opacity: 1 !important;
        position: absolute;
        border-radius: 50%;
        animation: spin 2s ease infinite;
    }

    .loaderu :first-child {
        background: #01c0ff;
        animation-delay: -1.5s;
    }

    .loaderu :nth-child(2) {
        background: #fd6550;
        animation-delay: -1s;
    }

    .loaderu :nth-child(3) {
        background: #55df68;
        animation-delay: -0.5s;
    }

    .loaderu :last-child {
        background: #fcd819;
    }

@keyframes spin {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(160%);
    }

    50% {
        transform: translate(160%, 160%);
    }

    75% {
        transform: translate(0, 160%);
    }
}
