@using Microsoft.JSInterop
@using Radzen
@using System.Globalization
@inject IJSRuntime JS


<div class="d-flex justify-content-end gap-2">
	<RadzenButton Icon="zoom_out" Size="ButtonSize.ExtraSmall" Click=@DecreaseScale Variant="Variant.Text" />
	<RadzenButton Icon="zoom_in" Size="ButtonSize.ExtraSmall" Click=@IncreaseScale Variant="Variant.Text" />
</div>

<div style="zoom: @ScaleStyle">
	@ChildContent
</div>

@code {
	[Parameter, EditorRequired]
	public string Key { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	private double scale = 1;
	private readonly double step = 0.1;
	private string storageKey => $"scalableBlockScale-{Key}";
	private string ScaleStyle => scale.ToString(CultureInfo.InvariantCulture);

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			try
			{
				var stored = await JS.InvokeAsync<string>("localStorage.getItem", storageKey);
				if (double.TryParse(stored, NumberStyles.Any, CultureInfo.InvariantCulture, out var s))
				{
					scale = s;
					StateHasChanged();
				}
			}
			catch { }
		}
	}

	private async Task DecreaseScale()
	{
		scale = Math.Max(0.5, scale - step);
		await SaveScaleAsync();
	}

	private async Task IncreaseScale()
	{
		scale = Math.Min(2, scale + step);
		await SaveScaleAsync();
	}

	private async Task SaveScaleAsync()
	{
		try
		{
			await JS.InvokeVoidAsync("localStorage.setItem", storageKey, scale.ToString(CultureInfo.InvariantCulture));
		}
		catch { }
	}
}

