<div class="text-center py-2 px-3">
    <div class="rz-text-display-h4" style="margin:0; padding:0">
        @Value

        @if (Unit.IsNotEmpty())
        {
            <span class="rz-text-display-h6 opacity-50" style="margin:0 0 0 10px; padding:0">@Unit</span>
        }
    </div>
    <div class="rz-text-subtitle1" style="margin:0; padding:0">
        @Label
    </div>
</div>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Unit { get; set; } = "";
}
