
.badge {
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    color: #fff;
    margin-right: 0.5rem;
    font-size: 12px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.badge-success {
    color: rgb(33, 112, 5);
    background-color: rgb(209, 250, 179);
}

.badge-warning {
    color: rgb(33, 112, 5);
    background-color: rgb(209, 250, 179);
}

.badge-danger {
    background-color: rgb(251, 211, 220);
    color: rgb(192, 18, 60);
}

.badge-info {
    background-color: rgb(203, 245, 253);
    color: rgb(4, 90, 208);
}

.badge-primary {
    color: rgb(4, 90, 208);
    background-color: rgb(167, 231, 252);
}

.badge-secondary {
    background-color: #6c757d;
}

.badge-new {
    background-color: #fd7e14;
}

.badge-default {
    color: rgb(89, 97, 113);
    background-color: rgb(235, 238, 241);
}


.loaderu {
    width: 80px;
    height: 80px;
}

    .loaderu hr {
        border: 0;
        margin: 0;
        width: 30px !important;
        height: 30px !important;
        opacity: 1 !important;
        position: absolute;
        border-radius: 50%;
        animation: spin 2s ease infinite;
    }

    .loaderu :first-child {
        background: #01c0ff;
        animation-delay: -1.5s;
    }

    .loaderu :nth-child(2) {
        background: #fd6550;
        animation-delay: -1s;
    }

    .loaderu :nth-child(3) {
        background: #55df68;
        animation-delay: -0.5s;
    }

    .loaderu :last-child {
        background: #fcd819;
    }

@keyframes spin {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(160%);
    }

    50% {
        transform: translate(160%, 160%);
    }

    75% {
        transform: translate(0, 160%);
    }
}



.badge-type {
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}


    .badge-type.e1 {
        color: #000000 !important;
        border: 1px solid #000000 !important;
        background-color: white !important
    }

    .badge-type.e2 {
        color: #ff5722 !important;
        border: 1px solid #ff5722 !important;
        background-color: white !important
    }

    .badge-type.e3 {
        color: #A8B300 !important;
        border: 1px solid #838b05 !important;
        background-color: white !important
    }

    .badge-type.e4 {
        color: #00a514 !important;
        border: 1px solid #00a514 !important;
        background-color: white !important
    }

    .badge-type.e5 {
        color: #0089ff !important;
        border: 1px solid #0089ff !important;
        background-color: white !important
    }

    .badge-type.e6 {
        color: #cc00ff !important;
        border: 1px solid #cc00ff !important;
        background-color: white !important
    }

    .badge-type.e7 {
        color: #ff00e0 !important;
        border: 1px solid #ff00e0 !important;
        background-color: white !important
    }

    .badge-type.e8 {
        color: #707070 !important;
        border: 1px solid #707070 !important;
        background-color: white !important
    }

    .badge-type.e9 {
        color: #13d0be !important;
        border: 1px solid #13d0be !important;
        background-color: white !important
    }

    .badge-type.e10 {
        color: #f20000 !important;
        border: 1px solid #f20000 !important;
        background-color: white !important
    }

    .badge-type.e11 {
        background-color: #5f5f5f !important;
        color: #e6e6e6 !important;
    }

    .badge-type.e12 {
        background-color: #ff9800 !important;
        color: #fef0db !important;
    }

    .badge-type.e13 {
        background-color: #F7FA95 !important;
        color: #3C370D !important;
        border: 1px solid #D5D935
    }

    .badge-type.e14 {
        background-color: #8bc34a !important;
        color: #e8fcd1 !important;
    }

    .badge-type.e15 {
        background-color: #2196f3 !important;
        color: #deedf9 !important;
    }

    .badge-type.e16 {
        background-color: #b774ff !important;
        color: #eadafb !important;
    }

    .badge-type.e17 {
        background-color: #ff00e0 !important;
        color: #fbdff8 !important;
    }

    .badge-type.e18 {
        background-color: #cfcfcf !important;
        color: #000000 !important;
    }

    .badge-type.e19 {
        background-color: #00bcd4 !important;
        color: #e5f9fc !important;
    }

    .badge-type.e20 {
        background-color: #f44336 !important;
        color: #ffe4e4 !important;
    }



